body {
  background-image: url('movieReel.jpg');
  background-size: cover;
}

.navigation {
  background-color: white;
  height: 8rem;
}

a {
  color: #5D4660;
}

.jumbotron {
    background-color: #a8b0c6;
    border: 3px solid black;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
